/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
strong {
    font-weight: bold;
}


/**
    CUSTOM STYLES
*/

body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;

    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}


.logo {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 1;
}

    .logo h1 {
        display: inline-block;
        margin: 0;
        margin-right: 10px;
    }

        .logo h1 a {
            margin: 0;
            display: block;
            padding: 10px 20px;
            background-color: rgba(0,0,0,.8);
        
            font-size: 14px;
            font-weight: bold;
            border-radius: 3px;
            border: 1px solid rgba(255,255,255,.2);
            color: rgba(255,255,255,.7);
            text-decoration: none;

            transition: all .2s ease;
        }

            .logo h1 a:hover {
                color: rgba(255,255,255,1);
                box-shadow:  3px 3px 5px rgba(0,0,0,.2);
                margin-left: 5px;
            }

    .logo .icon-link {
        display: inline-block;
        margin-left: 5px;

        font-size: 22px;
        color: rgba(0,0,0,.2);
        vertical-align: text-top;

        transition: all .3s ease;
    }

        .logo .icon-link:hover {
            color: rgba(0,0,0,.7);
        }

        .logo .icon-link.hide {
            display: none;
        }

        .logo .icon-link.inverted {
            color: rgba(255,255,255,.3);
        }

            .logo .icon-link.inverted:hover {
                color: rgba(255,255,255,.8);
            }


/*
* Back link
*/
.back-link {
    position: absolute;
    left: 50px;
    bottom: 50px;

    z-index: 1;

    font-size: 54px;
    font-weight: normal;
    color: rgba(0,0,0,.1);

    transition: all .5s ease;
}

    .back-link:hover {
        color: rgba(0,0,0,.7);
    }

    .back-link.inverted {
        color: rgba(255,255,255,.2);
    }

        .back-link.inverted:hover {
            color: rgba(255,255,255,.8);
        }


/*
* Canvas
*/
canvas[data-paper-resize] {
    width: 100%;
    height: 100%;
}


/*
* Mode selection screen
*/
.container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;

    background-color: rgba(0,0,0,.05);
}

    .container .row {
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 100%;
    }

.container .block {
    padding: 40px;
    width: 200px;

    cursor: pointer;

    font-size: 42px;
    font-weight: 100;
    text-align: center;
    color: rgba(0,0,0,.2);
    
    transition: all .3s ease-in-out;
}

    .container .block:first-of-type {
        border-right: 1px solid rgba(0, 0, 0, .08);
    }

    .container .block:hover {
        color: rgba(0,0,0,.5);
    }

    .container .block div {
        width: 100%;
        margin-top: 10px;
        font-size: 16px;
        font-weight: normal;
    }

.container .help-link {
    color: rgba(0,0,0,.2);
    cursor: pointer;
    transition: all .2s ease;
    margin-top: 50px;
    text-decoration: none;
}

    .container .help-link:hover {
        text-decoration: underline;
        color: rgba(0,0,0,.6);
    }

.container .github-link {
    padding-top: 30px;
    font-size: 30px;
    color: rgba(0,0,0,.2);
    transition: all .2s ease;
}

    .container .github-link:hover {
        color: rgba(0,0,0,.7);
    }


/* 
* Utility classes
*/
.hide {
    display: none !important;
}


/*
* Modal window
*/
.modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;

    z-index: 2;

    background-color: rgba(0,0,0,.4);
}

    .modal .modal-content {
        background-color: rgba(0,0,0,1);
        width: 40%;
        padding: 20px 30px;
        color: rgba(255,255,255,.8);
        border-radius: 5px;
        line-height: 20px;

        box-shadow: 0 0 50px rgba(0,0,0,.4);
    }

        .modal .modal-content p, ul {
            padding: 11px 0;
        }

            .modal .modal-content ul li {
                padding: 2px 0;
            }

        .modal .modal-content a {
            color: rgba(255,255,255,.8);
            font-weight: bold;
        }

            .modal .modal-content a:hover {
                color: rgba(255,255,255,1);
            }

        /* Columns */
        .modal .modal-content .column {
            margin-top: 10px;
            padding-top: 20px;
            padding-bottom: 15px;
            border-top: 1px solid rgba(255,255,255,.3);
            width: 40%;
            float: left;
            font-size: 14px;
        }

            .modal .modal-content h2 {
                font-size: 18px;
            }

            .modal .modal-content .column:first-of-type {
                width: 60%;
            }

        /* Parameter highlight */
        .modal .modal-content .parameter {
            background-color: rgba(255,255,255,.2);
            color: lightskyblue;
            padding: 2px 6px 5px 6px;
            display: inline-block;
        }

        /* Key highlight */
        .modal .modal-content .key {
            background-color: rgba(255,255,255,.2);
            color: rgba(255,255,255,.65);
            padding: 2px 8px 5px 8px;
            border-radius: 3px;
            display: inline-block;
        }

        /* Credits at bottom */
        .modal .modal-content .credits {
            clear: both;
            padding-top: 20px;

            text-align: center;
            font-style: italic;
            font-size: 14px;
            line-height: 26px;
            color: rgba(255,255,255,.5);
            
            border-top: 1px solid rgba(255,255,255,.3);
        }

            .modal .modal-content .credits a {
                color: rgba(255,255,255,.5);
                transition: all .3s ease;
            }

                .modal .modal-content .credits a:hover {
                    color: rgba(255,255,255,.8);
                }